* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #efefef;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fetch-post h3 {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
  text-overflow: ellipsis;
}

.fetch-post p {
  font-size: 14px;
  font-weight: lighter;
  text-shadow: 0px 0px 0px #ccc;
  letter-spacing: 0.9px;
}
